---
const {
  title = "#",
  imgSrc = "/images/for-virksomheder.jpg",
  imgAlt = "Person holder SoundWheel-appen på en telefon",
} = Astro.props;
---
<div>
    <h1>For virksomheder </h1>
    <p>Giv jeres medarbejdere adgang til hurtige mentale pauser, der styrker energi, ro og præstation. SoundWheel leverer lyddrevne visualiseringsforløb til virksomheder – fra onboarding til fuld udrulning.  Vi tager os af opsætning, administration og statistik – I får værktøjet og kan sammen skabe den rette kultur for trivsel og engagement.</p>
</div>