---
---

<button class="button">
 Udforsk vores løsning
</button>


<style>
    .button { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #3D1112;
  border: 2px solid #3D1112;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 700px) {
.button {
  border-radius: 50px;
  width: 300px;    
  font-size: 15px;
  cursor: pointer;
  
}
}

.button:hover {
  background-color: #3b0f0f;
  color: #fff;
}
</style>

