<div class="footer">
  <div>
    <p>Download SoundWheel now and get 14 days free trial</p>
    <div>
      <img src="https://tyvxgiepuwgxaquhxcxp.supabase.co/storage/v1/object/public/img/app-store.png" alt="billede af app store" />
    </div>
    <img src="https://tyvxgiepuwgxaquhxcxp.supabase.co/storage/v1/object/public/img/google.png" alt="billede af google" />
  </div>
  <div class="footer-2">
    <p>Contact</p>
    <p>Handels- og abonnementsbetingelser</p>
    <p>Persondatapolitik</p>
  </div>
</div>

<style>
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 30px;
    background-color: #f5f3f3;
  }

  .footer img {
    width: 150px;
    padding-bottom: 10px;
  }

  .footer-2 {
    justify-self: end;
    text-align: right;
  }

  p {
    padding-bottom: 25px;
  }

  @media screen and (min-width: 800px) {
    .footer {
      padding: 80px 100px;
    }
  }
</style>
