<div class="top-bar">
  <p>Download SoundWheel nu og få 14 dages gratis prøveperiode</p>
</div>

<nav><a href="/">Logo</a><a href="/">Erhverv</a><a href="/pakker-og-priser">Pakker og priser</a></nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }

  .top-bar {
    background-color: #f5f3f3;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
  }
</style>
