<div class="top-bar">
  <p>Download SoundWheel nu og få 14 dages gratis prøveperiode</p>
</div>

<nav>
  <div>
    <a href="/"> <img src="https://tyvxgiepuwgxaquhxcxp.supabase.co/storage/v1/object/public/img/logo-soundwheel.png" /></a>
  </div>
  <div class="sider">
    <a href="/">Erhverv</a>
    <a href="/pakker-og-priser">Pakker og priser</a>
    <a href="/ressourser-og-viden">Ressourser og viden</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .sider {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-right: 30px;
  }

  .top-bar {
    background-color: #f5f3f3;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 650;
  }

  a.active {
    border-bottom: 2px solid black;
  }

  img {
    width: 85px;
  }
</style>
